@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Titillium+Web:wght@400&display=swap');
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgb(255, 255, 255) 100%);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    border-radius: 20px;
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0704aa;
    color: white;
  }
  .topnav span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .topnav span:after {
    color: #fff;
    content: '\276e';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
  }
 .topnav a:hover span {
    padding-left: 25px;
  }
  .topnav a:hover span:after {
    opacity: 1;
    left: 0;
  }

.heading{
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    text-align: center;
    padding: 10px 16px;
    font-weight: bolder;
    color: #ffffff;
}

table{
    width:100%;
}
th {
    background-color: #0d0a91;
    color: white;
    position: sticky;
  }
  
th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

.information{
    font-family: 'Titillium Web', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.info{
    margin-top: 20px;
    margin-left: 50px;
    width: 60%;
}

.info .title{
    padding-bottom: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


/* percentage bar*/

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  width:300px;
  height: 300px;

}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
  
/* .circular-chart.orange .circle {
  stroke: #ff2600;
} */

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.4em;
  text-anchor: middle;
}
.percentage:hover{
  font-size: 0.7;
  transition: font-size 0.3s ease-out;
}

.predict{
  padding-left: 100px;
  padding-top: 50px;
}

.prediction{
  display: flex;
  flex-direction: column;
}

.predict-prob{
  padding-left: 100px;
  font-size: 10px;
}