<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About</title>
</head>

<body>

    <div class="topnav">
        <a class="active" href="/"> <span> Home </span></a>
        <div class="heading">About Me</div>
    </div>


    <div class="about">
        <div class="info">

            <div class="about-page">

                <div class="about-me">
                    My name is Neelkant Newra, I am currently pursuing my B.Tech in Biomedical Engineering from National
                    Institute of Technology Raipur. <br>
                    <br>
                    You can find me here

                    <div class="icon">

                        <div class="linkedin"><a href="https://www.linkedin.com/in/neelkant-newra-158306173/"
                                class="fa fa-linkedin"></a></div>
                        <div class="github"><a href="#" class="fa fa-github"></a></div>
                        <div class="twitter"><a href="#" class="fa fa-twitter"></a></div>
                        <form method="get" action="static/document/Neelkant Newra -Resume.pdf" target="blank">
                            <div class="cv"><button class="btn" type="submit"><i class="fa fa-download"></i> Download
                                    Resume</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="image"><img src="static/image/Neelkant.jpg" alt="Neelkant Newra"></div>
    </div>
</body>

</html>