<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/"> <span> Home </span></a>
        <div class="heading">About</div>
    </div>
    <div class="information">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, debitis ad aliquid obcaecati cupiditate dolore.
        Totam sunt temporibus quaerat molestias veniam, dignissimos cumque quasi accusantium eveniet natus nulla at
        harum!
    </div>

</body>

</html>