<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Health Disease Detector</title>
</head>
<body>
        <div class="topnav">
            <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="heart-disease-predictor"><i class="fa fa-fw fa-heartbeat"></i> Heart Disease Detector</a>
            <a href="contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a href="about"><i class="fa fa-fw fa-info-circle"></i> About</a>
          </div>
        <div class="information">
            <div class="info">
               The Website is developed for all the user who want to test there risk of getting Heart disease. We are using multiple machine learning approch to provide as good solution as possible. However, it is entirely dependent on the accuracy of the data provide by the user.
            </div>
            <div class="heart"><i class="fa fa-fw fa-heartbeat"></i></div>
        </div> 
        
</body>
</html>